[submodule "tensorflow-source"]
	path = tensorflow-source
	url = https://github.com/zsjohny/tensorflow-source.git
[submodule "models"]
	path = models
	url = https://github.com/tensorflow/models.git
[submodule "datamining"]
	path = datamining
	url = https://github.com/LouisScorpio/datamining.git
[submodule "tutorials"]
	path = tutorials
	url = https://github.com/MorvanZhou/tutorials.git
[submodule "deep_learning"]
	path = deep_learning
	url = https://github.com/BDFYB/deep_learning.git
[submodule "mnist"]
	path = mnist
	url = https://github.com/zsjohny/mnist.git
