[submodule "tensorflow-source"]
	path = tensorflow-source
	url = https://github.com/zsjohny/tensorflow-source.git
[submodule "models"]
	path = models
	url = https://github.com/tensorflow/models.git
[submodule "datamining"]
	path = datamining
	url = https://github.com/LouisScorpio/datamining.git
